$bar-color: #b8c2cc !default;
$bar-stroke: #8d99a6 !default;
$border-color: #cecece !default;
$light-bg: #f7f7f7 !default;
$light-border-color: #ebeff2 !default;
$text-light: #555 !default;
$text-color: #5d5d5d !default;
